# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/

# Models & Checkpoints (Large files)
models/
*.zip

# VizDoom Scenarios (optional: if you modified them, keep them. If default, maybe ignore? Keeping for safety)
# *.cfg
# *.wad

# System
Thumbs.db
Desktop.ini
